* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ccb8d5, #f8bce7, #a5e7ff);
  height: 100vh;
  color: #fff;
}
.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.883);
  width: 100%;
  max-width: 400px;
  margin: 50px;
}

.login-form h2 {
  color: #484385;
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  color: #484385;
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #52506a;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #484385;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(to right, #ccb8d5, #f8bce7, #a5e7ff);
}

.forgot-password {
  text-align: right;
  margin-top: 10px;
}

.forgot-password a {
  color: #ef3232;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
.signup {
  padding:10px;
  color:#484385;
  text-align: right;
  margin-top: 10px;
}

.signup a {
  color: #ef3232;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}
